@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

.ohk5{
  border-radius: 17px;
    /*background-color: #146371 !important;*/
    color: white;
  background-color: #1d7a8c !important;
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    margin-left: -150% !important;
  }
}

.dropdown-item{
  color: #212529 !important;
}

.hiddenbtn{
    display: none;
}

element.style {
    background-color: #111111;
    /*height: -129% !important;*/
    position: absolute;
    width: 100%;
}

footer {
    /* margin-bottom: -66% !important; */
    /* margin-top: 19% !important; */
    margin-top: 15%;
}

#ok2{
  display: none;
}

.imp100{
  margin-left: 6%;
}

/*
fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }*/

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.st { display: none; } 
.st-lb:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.half:before { 
  content: "\f089";
  position: absolute;
}

.st-lb { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.st:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > .st-lb:hover, /* hover current star */
.rating:not(:checked) > .st-lb:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.st:checked + .st-lb:hover, /* hover current star when changing rating */
.st:checked ~ .st-lb:hover,
.st-lb:hover ~ .st:checked ~ label, /* lighten current selection */
.st:checked ~ .st-lb:hover ~ label { color: #FFED85;  } 


.rating1 { 
    border: none;
    float: left;
  }
  
  .star { display: none; } 
  .star-lb:before { 
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
  }
  
  .half:before { 
    content: "\f089";
    position: absolute;
  }
  
  .star-lb { 
    color: #ddd; 
   float: right; 
  }
  
  /***** CSS Magic to Highlight Stars on Hover *****/
  
  .star:checked ~ .star-lb, /* show gold star when clicked */
  .rating1:not(:checked) > .star-lb:hover, /* hover current star */
  .rating1:not(:checked) > .star-lb:hover ~ .star-lb { color: #FFD700;  } /* hover previous stars in list */
  
  .star:checked + .star-lb:hover, /* hover current star when changing rating */
  .star:checked ~ .star-lb:hover,
  .star-lb:hover ~ .star:checked ~ .star-lb, /* lighten current selection */
  .star:checked ~ .star-lb:hover ~ .star-lb { color: #FFED85;  } 
  

  .rating2 { 
    border: none;
    float: left;
  }
  
  .star1 { display: none; } 
  .star1-lb:before { 
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
  }
  
  .half:before { 
    content: "\f089";
    position: absolute;
  }
  
  .star1-lb { 
    color: #ddd; 
   float: right; 
  }
  
  /***** CSS Magic to Highlight Stars on Hover *****/
  
  .star1:checked ~ .star1-lb, /* show gold star when clicked */
  .rating2:not(:checked) > .star1-lb:hover, /* hover current star */
  .rating2:not(:checked) > .star1-lb:hover ~ .star1-lb { color: #FFD700;  } /* hover previous stars in list */
  
  .star1:checked + .star1-lb:hover, /* hover current star when changing rating */
  .star1:checked ~ .star1-lb:hover,
  .star1-lb:hover ~ .star1:checked ~ .star1-lb, /* lighten current selection */
  .star1:checked ~ .star1-lb:hover ~ .star1-lb { color: #FFED85;  } 
  
  
.star-ratings {
  unicode-bidi: bidi-override;
  color: #ccc;
  font-size: 1.50em;
  position: relative;
  margin: 0;
  padding: 0;
}
  .fill-ratings {
    color: #FFD700;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
    
    /* // Allows us to grab the width of the span elements */
   
  }
  .star5 {
    display: inline-block;
    width: 20% !important;
  }
  .empty-ratings {
    padding: 0;
    display: block;
    z-index: 0;
  }






.Rectangle{
    background-color: #1fb6ff;
  
}

.help{
    color: aliceblue;
}

/*.active{
    color: aliceblue !important;
}*/

.tab-content>.active {
    /* display: block; */
    margin-left: 20%;
    margin-top: -65%;
    margin-right: 2% !important;
}

body{
    overflow-x: hidden;
    background: #f2f4f5;
    font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif;
color: #646464;
margin-bottom: 4% !important;
}

.ver-nav{
    width: 273px;
    margin: 0 20px 0 0;
    padding: 18px 0 358px 1px;
    box-shadow: 2px 0 5.5px 0.5px rgba(0, 0, 0, 0.1);
    height: 1012px;
    background-color: white;
    display: inline-block;
}

.list1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 400px;
  }

  .img1{
    padding: 8px 4px;
    border: solid 1px #aaa;
    border-radius: 25px;
    background-color: white;
  }

  .item {
    display: block;
    color: #646464;
    padding: 12px 16px;
    text-decoration: none;
  }

  .test:after {
    content: '\2807';
    font-size: 20px;
    margin-left: 12%;
    }

    

  .UM{
      margin-left: 20%;
      margin-top: -65%;
      position:static;
  }
  
  .btn1{
      margin-right: 2%;
      background-color: #1fb6ff;
      color:aliceblue;
  }

  .btn2:active{
      background-color: #F4F4F4;
  }

  .pbtn{
    background-color: #ff6b6b;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .gbtn{
    background-color: #67b644;
    color: white;
    padding-left: 4px;
    padding-right: 4px;
  }

  .new-btn{
      background-color: #f2bb37;
      color: white;
  }
  .tb{
      width: 78%;
      height: 730px;
      border: solid 1px #e1e1e1;
      display:inline-table;
      background-color: white;
      margin-left: 20%;
  }

   .page1{
      margin-top: -2.5%;
      margin-right: 1%;
  } 

  .pn{
      color: black;
  }

  .pn:active{
      background-color: #646464;
      color: white;
  }

  .form-border{
      background-color: white;
      width: 78%;
      padding-top: 1%;
      padding-bottom: 1%;
      padding-left: 1%;
      border: solid 1px #e1e1e1;
      margin-top: 1%;
      margin-bottom: 1%;
      /*margin-left: 20%;*/
  }

  
  footer{
      margin-top: 1%;
      margin-left: 20%;
      color: #A2A6A8;
  }

  .form-border1{
    background-color: white;
    width: 78%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    border: solid 1px #e1e1e1;
    margin-top: -1%;
    /*margin-left: 20%;*/
}

.search{
    background-color: #1fb6ff;
    color: white;
}

.clear{
    background-color: white;
}

.btn3{
    background-color: #67B644;
    color: white;
}

.dropdowns{
    list-style: none;
    text-decoration: none;
}

.col-sm-2{
    width: 13.5%;
}

#startdate,#endDate {
 
    background:  url("../images/admin-calendar-blue.png") no-repeat 12px;
    padding-left: 40px; 
    background-color: #ffffff;   
  }

@media(max-width: 990px){
    .ver-nav{
        margin-left: -6%;
        width: 5.2%;
        background-color: black;
        height: 2px;
        margin-top: -3.2%;
      }
    
      .list1{
        opacity: 0;
        visibility: hidden;
        display: flex;
      }

      .item{
        display: block;
        color: black;
        border: hidden !important;
        text-decoration: none !important;
      }

    .list1responsive{
        background-color: white;
        margin-top: 4%;
        margin-left: 66%;
        width: 631.5%;
        list-style: none;
        text-decoration: none !important;
      }


      .tb{
        width: 64%;
       text-align: center; 
       margin-top: 24%;
        margin-left: 18%;
        height: 10%;
     }

      table, thead, tbody, th, td, tr { 
        display: block; 
    }
    
    
    tr { border: 1px solid #ccc; }
    
    td { 
      border: none;
      position: relative;
      padding-left: 50%; 
    }
    
    .form-border{
        width: 81%;
        margin-bottom: -18%;
        margin-left: 11%;
        margin-top: 2%;
    }

    .UM{
        margin-top: -26%;
        margin-left: 13%;
    }

    .btn1{
        margin-right: 10%;
    }
    
    .form-border1{
        width: 29%;
        padding-left: 6%;
        margin-left: 38%;
    }

    .page1{
        margin-top: 5.5%;
        margin-right: 8%;
        
    }

    footer{
        margin-left: 38%;
    }

    .form-check{
        padding-left: 0%;
    }

 form{
     display: block;
 }
}

